<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source = 10.134.10.80 ; Initial Catalog = KARTACA_Preprodv2 ; User ID=kartaca; Password=kartaca123" providerName="System.Data.SqlClient" /> 
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>